body {
  margin: 0;
  background-color: #080808;
  color: white;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px white;
}
